// Colours.
$primary: #c42737;
$secondary: #656d78;
$success: #00a650;
$danger: #ff4d5e;
$info: #4d65ff;
$warning: #ffdb66;
$light: #ffffff;
$dark: #212529;

// Typography
$font-family-sans-serif: 'Roboto', Arial, Helvetica, sans-serif;

// Options.
$enable-rounded: false;
